* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 4rem;
  height: 4rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-image: linear-gradient(50deg, #c9dcfa 0%, #d2edfa 100%);
  border-radius: 2px;
}
.snare-pad {
  background-image: linear-gradient(150deg, #dad1e7 0%, #cdbbcf 100%);
  border-radius: 2px;
}
.hihat-pad {
  background-image: linear-gradient(
    50deg,
    #f3bbc5 0%,
    #f8b3c1 19%,
    #eeb0b2 60%,
    #f0c1ba 100%
  );
  border-radius: 2px;
}

.kick-pad.active {
  background-image: linear-gradient(50deg, #80b0ff 0%, #71d2ff 100%);
}

.snare-pad.active {
  background-image: linear-gradient(150deg, #aa88e2 0%, #c36fce 100%);
}

.hihat-pad.active {
  background-image: linear-gradient(
    50deg,
    #f8879c 0%,
    #f05574 19%,
    #f76166 60%,
    #f08676 100%
  );
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-top: 2rem;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat,
.snare,
.kick {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 0.8rem;
  border: none;
  background-image: linear-gradient(150deg, #bebebe 0%, #969696 100%);
  color: white;
  border-radius: 50px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-image: linear-gradient(150deg, #585858 0%, #242424 100%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  width: 150px;
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 0.2rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(48, 48, 48);
  cursor: pointer;
  border-radius: 50px;
}

.tempo {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}
@keyframes playTrack {
  from {
    transition: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
